<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script> 
    <script>
        angular.module("myApp", []).
        controller("myCtrl", function ($scope) {
            $scope.Master = { fName: "Avinash", lName: "Potu" };
            $scope.Reset = function () {
                $scope.Child = angular.copy($scope.Master);
            }
            $scope.Reset();
        });        
    </script>  
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    ENTER FIRST NAME:
    <input type="text" ng-model="Child.fName" />
    <br />
    <br />
    ENTER LAST NAME:
    <input type="text" ng-model="Child.lName" />
    <br />
    <br />
    <input type="button" value="Reset" ng-click="Reset()"/>
    <br />
    <br />
    Master Data: {{Master}}
    <br />
    <br />
    Child Data: {{Child}}
</body>
</html>
