<div>
    <h5>Order Details</h5>
    <div>
        <table>
            <tr>
                <td>Product Name</td>
                <td>
                    <input type="text" ng-model="Product" />
                </td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>
                    <input type="text" ng-model="Quantity" />
                </td>
            </tr>
            <tr>
                <td>Total Cost</td>
                <td>
                    <input type="text" ng-model="Cost" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" value="Get Price" ng-click="Calculate()" />
                </td>
            </tr>
        </table>
        <br />
        <br />
        TOTAL PRICE IS: {{TotalPrice}}
    </div>
</div>
